{% load staticfiles %}
{% load json_filters %}
{% load pdb %}
<!doctype html>
<html>
<head>
	<script src="{% static 'js/jquery-2.1.3.js' %}"></script>
	<script src="{% static 'js/jsoneditor-27f2e16.js' %}"></script>
	<script>
	$(function() {
		var json_schema = {{ instance.currentstep.json_schema | jsonify }};
		var current_step_data = {{ instance.procdata | safe}};
		var editor = new JSONEditor(
			document.getElementById("editor_holder"), 
			{
				schema: json_schema,
				startval: current_step_data
			}
		);
		// editor.setValue(current_step_data);
		// var errors = editor.validate();
		// if(errors.length) {
		//   // Not valid
		// }

		editor.on("change",  function() {
			$('input#json').val(JSON.stringify(editor.getValue()));
		});
	});
	</script>
</head>
<body>
	<h2>Instance for Process: {{instance.process.name}}</h2>
	<div id="editor_holder"></div>
	<form method="post">
		{% csrf_token %}
		<input type="hidden" name="json" id="json" />
		<input type="submit" value="Submit" />
	</form>
</body>
</html>