{% extends "include/base.html" %}

{% block content %}
    <h1 class="clearfix">{% block title %}Process Overview{% endblock %}
        {% if user.is_staff %}
            <span class="pull-right">
                <a href="{% url 'admin:process_processdefinition_add' %}" class="btn btn-default">New Process</a>
                <a href="{% url 'admin:process_processdefinition_changelist' %}" class="btn btn-default">Manage Processes</a>
            </span>
        {% endif %}
    </h1>
    <p>See whats up with the processes you participate.</p>
    {# FIXME: only for admin #}
    {% for process in processes %}
        <h2 class="clearfix">{{process.name}}
            <span class="pull-right">
                {% include "include/process_buttons.html" with process=process user=user only %}
            </span>
        </h2>
        <table class="table table-hover">
            {% for instance in process.instances.all %}
                {% if forloop.first %}
                    <thead>
                        <tr>
                            <th>#</th><th>State</th><th>Responsible</th>
                            {% for field, value in instance.overview_fields %}
                                <th class="field {{field.field_definition.name}}">{{field.field_definition.name}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                {% endif %}
                    <tr
                    {% if user in instance.responsible_users %}class="active"{% endif %}
                    >
                        <td>{{instance.id}}</td>
                        <td>
                            <a href="{% url 'instance_detail' process.id instance.id %}/">
                                {{instance.currentstatus.name}}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'instance_detail' process.id instance.id %}/">
                                {% for role_instance in instance.currentstatus.role.role_instance.all %}
                                    {{role_instance.pycuser.username}}{% if not forloop.last %}, {% else %} -{% endif %}
                                {% endfor %}
                                {{instance.currentstatus.role.name}}
                            </a>
                        </td>
                        {% for field, value in instance.overview_fields %}
                            <td class="field {{field.field_definition.name}}">
                                <a href="{% url 'instance_detail' process.id instance.id %}/">
                                    {{value}}
                                    &nbsp;{# ensure empty cells are still clickable #}
                                </a>
                            </td>
                        {% endfor %}
                    </tr>
            {% empty %}
                <p>No instances are available.</p>
                <p>Start a process to see it here.</p>
            {% endfor %}
            </tbody>
        </table>
    {% empty %}
        <p>No processes are available.</p>
    {% endfor %}
{% endblock content %}

{% block css %}
<style>
td a {
	display: block;
}
</style>
{% endblock css %}