{% extends "include/base.html" %}

{% block content %}
    <h1>{% block title %}Get Stuff Done{% endblock %}</h1>
    <p>Work on a process or create a new one.</p>
    {% for process, instances in instances_by_process.items %}
        <h2>{{process.name}}
            <small class="pull-right">
                {% include "include/process_buttons.html" with process=process user=user only %}
            </small>
        </h2>
        <table class="table table-hover">
            {% for instance in instances %}
                {% if forloop.first %}
                    <thead>
                        <tr>
                            <th>#</th><th>Current state</th>
                            {% for field, value in instance.overview_fields %}
                                <th class="field {{field.field_definition.name}}">{{field.field_definition.name}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                {% endif %}
                <tbody>
                    <tr>
                        <td>{{instance.id}}</td>
                        <td>
                            <a href="{% url 'instance_detail' process.id instance.id %}/">
                                {{instance.currentstatus.name}} (<small>{{instance.currentstatus.role.name}}</small>)
                            </a>
                        </td>
                        {% for field, value in instance.overview_fields %}
                            <td class="field {{field.field_definition.name}}">
                                <a href="{% url 'instance_detail' process.id instance.id %}/">
                                    {{value}}
                                </a>
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            {% empty %}
                <p>No instances are available.</p>
                <p>Start a process to see it here.</p>
            {% endfor %}
        </table>
    {% empty %}
        <p>No processes are available.</p>
        <p>Start a process and see it here.</p>
    {% endfor %}
{% endblock content %}

{% block css %}
<style>
td a {
	display: block;
}
</style>
{% endblock css %}