{% extends "include/base.html" %}

{% load pdb %}

{% block content %}
    <h1>{% block title %}Process Overview{% endblock %}</h1>
    <p>See whats up with the processes you participate.</p>
    {% for process in processes %}
        <h2>{{process.name}}</h2>
        <ul>
            {% for instance in process.instances.all %}
                <li>
                    {# REFACT: consider linking only to processes I am currently the one to work on #}
                    <a href="{% url 'instance_detail' process.id instance.id %}/">
                        <span class="state">Current state: {{instance.currentstatus.name}}</span>
                        <span class="role">Current role: {{instance.currentstatus.role.name}} 
                            {% for role_instance in instance.currentstep.role.role_instance.all %}
                                {% if forloop.first%}({% endif %}{{role_instance.pycuser.username}}{% if not forloop.last %}, {% else %}){% endif %}
                            {% endfor %}
                        </span>
                        {# TODO: should list role instances with role #}
                        {# FIXME: overview_fields is problematic as it might show data that the current user is _NOT_ supposed to see, it is computed for the currently assigned user --dwt #}
                        {% for field, value in instance.overview_fields %}
                            {% if forloop.first %}
                            <br>
                            Detail:
                            {% endif %}
                            <span class="field {{field.field_definition.name}}">{{field.field_definition.name}}: {{value}}</span>
                        {% endfor %}
                        
                    </a>
                </li>
            {% empty %}
                <p>No instances are available.</p>
            {% endfor %}
        </ul>
    {% empty %}
        <p>No processes are available.</p>
    {% endfor %}
{% endblock content %}
