{% load staticfiles %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{# TODO Add version in use / git commit id  to uniquely identify versions #}
	
	<link href="{% static 'vendor/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
	<!-- link href="{% static 'vendor/bootstrap/dist/css/bootstrap-theme.css' %}" rel="stylesheet" -->
	{% block css %}{% endblock %} {# don't forget the <style></style> tags inside #}
	<title>{% block title %}PyCess{% endblock %}</title>
	
</head>
<body role="document">
	{# See: http://getbootstrap.com/css/#helper-classes-screen-readers #}
	<a href="#content" class="sr-only sr-only-focusable">
	    {% trans "Skip to main content" %}</a>
	{% include "include/nav.html" %}
	<div id="content" class="container" style="margin-top: 60px">
		{% if messages %}
			<div class="messages">
			{% for message in messages %}
				<div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message }}</div>
			{% endfor %}
			</div>
		{% endif %}
		
		{% block content %}{% endblock %}
	</div>
	<div class=footer>
		{% if user.is_authenticated %}
			<a style="text-align:center; display: inline-block; width:100%;" href='javascript:(function(){var s=document.createElement("script");s.onload=function(){bootlint.showLintReportForCurrentDocument([]);};s.src="https://maxcdn.bootstrapcdn.com/bootlint/latest/bootlint.min.js";document.body.appendChild(s)})();'>Bootlint current page</a>
		{% endif %}
	</div>
	<div id="js">
		<script src="{% static 'vendor/jquery/dist/jquery.js' %}"></script>
		<script src="{% static 'vendor/json-editor/dist/jsoneditor.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.js' %}"></script>
	
		{% block scripts %}{% endblock %}
	</div>
</body>
</html>