{% load eval %}
{% load i18n %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{% trans "Toggle navigation" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">PyCess</a>
    </div>
    <nav id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            {% trans "Get Stuff Done"   as index_title %}
            {% trans "Process Overview" as overview_title %}
            
            {# See: https://code.djangoproject.com/ticket/18584 for ideas how to make highlighting the current url better #}
            {% eval [('index', index_title), ('overview', overview_title),] as navigation_targets %}
            {% for url_name, link_name in navigation_targets %}
                {% url url_name as a_url %}
                <li {% if request.path_info == a_url %}class="active"{% endif %}><a href="{{a_url}}">{{link_name}}</a></li>
            {% endfor %}
            {# TODO: Consider adding a popup menu to create processes instantly without having to go to a list first? #}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
                <li><a href="{% url 'django.contrib.auth.views.login' %}">{% trans "Login" %}</a></li>
            {% else %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.first_name }} {{ user.last_name }}<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% if user.is_staff %}
                        <li><a href="/admin/">{% trans "Admin" %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'django.contrib.auth.views.logout' %}?next={{request.path}}">{% trans "Logout" %}</a></li>
                  </ul>
                </li>
            {% endif %}
        </ul>
    </nav><!--/.nav-collapse -->
    </div>
</nav>